
{% extends '::base.html.twig'  %}

{% block body %}


<div style="width:100%; height:99vh;">

  <div class="nav-side-menu">
      <div class="brand">Instituto Peruano de Deporte</div>
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    
          <div class="menu-list">
    
              <ul id="menu-content" class="menu-content collapse out">
                  <li class="active">
                    <a href="#">
                    <i class="fa fa-home fa-lg"></i> Principal
                    </a>
                  </li>

                
                  
                  <li  data-toggle="collapse" data-target="#products" class="collapsed">
                    <a href="#"><i class="fa fa-tag fa-lg"></i> Areas <span class="arrow"></span></a>
                  </li>
                  <ul class="sub-menu collapse" id="products">
                      <li><a href="#">DNRPD</a></li>
                      <li><a href="#">DINADAF</a></li>
                      <li><a href="#">DNCTD</a></li>
                      <li><a href="#">DINASEB</a></li>
                      <li><a href="{{url('prueba_verDetalleIndicador')}}">DISEDE</a></li>
                      <li><a href="#">OAJ</a></li>
                      <li><a href="#">OPP</a></li>
                      <li><a href="#">OI</a></li>
                      <li><a href="#">OGA</a></li>
                      <li><a href="#">UL</a></li>
                      <li><a href="#">OIC</a></li>
                      <li><a href="#">STPAD</a></li>
                      <li><a href="#">OCR</a></li>
                      <li><a href="#">UP</a></li>
                      <li><a href="#">OTDA</a></li>
                      <li><a href="#">CONAD</a></li>
                  </ul>

                {% if is_granted('ROLE_ADMIN') %}

                   <li>
                    <a href="{{url('prueba_usuarios')}}">
                    <i class="fa fa-users fa-lg"></i> Usuarios
                    </a>
                  </li>

                {%  endif  %} 
                
                  <li>
                    <a href="{{path('prueba_logout')}}">
                    <i class="fa fa-sign-out" aria-hidden="true"></i> Salir
                    </a>
                  </li>

              </ul>
       </div>
  </div>

  <div style=" height:100vh; background-color:orange; background-image: url( {{ asset('img/imagen_login2.jpg') }} ); background-size:cover; background-position:center center; ">


  </div>

</div>
{% endblock %}