
{% extends '::base.html.twig'  %}


{% block body %}
<br>
<a href="/disede"><button style="margin-left:30px;"  class="btn btn-danger btn-lg">Regresar Tablero Control</button></a>

	<h1>Ingrese Nuevo Sub Indicador</h1>

	<br>
	{{form(form)}}
	<br>


{% endblock %}

