{% extends '::base.html.twig'  %}

{% block body %}


<br>
<a href="/"><button style="margin-left:30px;"  class="btn btn-info btn-lg">Regresar Menu Principal</button></a>

<h2 class="text-center">SEGUIMIENTO DE LOS ACUERDOS DE LOS COMITES DE PRESIDENCIA</h2>

<div style="width:70%; height:400px; margin:0 auto;">


	<div class="form-group col-md-6 col-lg-6">
		<label>Comite</label>
		<input type="number" name="comite"  id="comite" class="form-control">
	</div>

	<div class="form-group col-md-6 col-lg-6">
		<label>Fecha</label>
		<input type="date" name="fecha"  id="fecha" class="form-control">
	</div>

	<div class="form-group col-md-6 col-sm-6 col-lg-6">
		<label>Acuerdos Adoptados</label>
		<input type="text" name="acuerdos"  id="acuerdos"  class="form-control">
	</div>

	<div class="form-group col-md-6 col-sm-6 col-lg-6" >
		<label>N° del acuerdo</label>
		<input type="number" name="nroAcuerdo" id="nroAcuerdo"  class="form-control">
	</div>


	<div class="form-group col-md-6 col-sm-6 col-lg-6">
		<label>Area Responsable</label>
		<select  name="areaIpd" id="areaIpd"  class="form-control">
		</select>
	</div>


	<div class="form-group col-md-6 col-sm-6 col-lg-6">
		<label>Estado</label>
		
		<select name="estado" id="estado"  class="form-control">
			<option value="En Proceso">En Proceso</option>
			<option value="Implementado">Implementado</option>
			<option value="Cancelado">Cancelado</option>
		</select>
	</div>


	<div class="form-group col-md-6 col-sm-6 col-lg-6">
		<label>Observaciones</label>
		<textarea type="text" name="observaciones" id="observaciones" class="form-control"></textarea>
	</div>


	<div class="form-group col-md-6 col-sm-6 col-lg-6">
		<label>Plazo de Entrega</label>
		<input type="date" name="plazoEntrega" id="plazoEntrega"  class="form-control">
	</div>

	<button class="btn btn-primary" id="boton-enviar-acuerdosPre">Enviar</button>

</div>


<table  class="table table-responsive table-bordered" style="margin:10px;">

	<thead>
		<tr>

			<td>
				Comite
			</td>
			
			<td>
				Fecha
			</td>

			<td>
				Acuerdos Adoptados
			</td>


			<td>
				N° del Acuerdo
			</td>

			<td>
				Area Responsable
			</td>

			<td>
				Estado
			</td>

			<td>
				Plazo de Entrega
			</td>

			<td>
				Observaciones
			</td>

			<td>
				Historial Observ....
			</td>

			<td>
				Editar
			</td>

		</tr>
	</thead>

	<tbody id="table_body">


	</tbody>

</table>



<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="titulo_acuerdoPre"></h4>
      </div>
      <div class="modal-body">
        <p>Historial de Observaciones</p>
        <table class="table table-bordered table-responsive">

        	<thead>
        		<td>Id</td>
        		<td>Descripcion</td>
        		<td>Fecha</td>
        	</thead>

        	<tbody id="table-body-observaciones">


        	</tbody>

        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>




<script>


	$(document).ready(function(){
	
		$.ajax({
			type:"GET",
			url:"{{ url('prueba_getArea') }}",
			dataType:'json',
			success:function(data){
			console.log(JSON.parse(data));
			JSON.parse(data).forEach(function(valor,index){

				$("#areaIpd").append("<option value='"+valor.id+"'>"+valor.nombre+"</option>");
			});

			},
			error:function(error){
				console.log(error);
			}

		});	




		$.ajax({

			dataType: 'json',
			type: 'GET',
			url: "{{url('prueba_getAcuerdosPre')}}",

			success:function(data){
				var datosAcuerdosPre=JSON.parse(data);
				
				
				const promesa = new Promise(function(resolve,reject){
					
					datosAcuerdosPre.forEach(function(valor,index){

					console.log(valor);	
					$("#table_body").append('<tr value="'+valor.id+'" >'+'<td>'+valor.comite+'</td>'+'<td>'+valor.fecha+'<td>'+valor.acuerdos+'</td>'+'<td>'+valor.nroAcuerdo+'</td>'+'<td>'+valor.areaIpd.nombre+'</td>'+'<td>'+valor.estado+'</td>'+'<td>'+valor.plazoEntrega+'</td>'+'<td>'+valor["observacionPre"][valor["observacionPre"].length-1].descripcion+'</td>'+'<td><button class="btn btn-warning btn-historial-observacion" data-toggle="modal" data-target="#myModal" value="'+valor.id+'" >ver historial</button></td>'+'<td><button class="btn btn-success" >Editar</button></td>'+'</tr>');

					});

					resolve("a");

				});

				promesa.then(function(response){
					


					var btn_historial =  document.querySelectorAll(".btn-historial-observacion");

					for(var i=0; i<btn_historial.length;i++){

						btn_historial[i].onclick=function(){


							$.ajax({

								type:"POST",
								data:{ id : this.value },
								url:"{{ url('prueba_observacionesPrePost') }}",
								dataType:'json',
								success:function(data){

									var data_observaciones = JSON.parse(data);	
									console.log("Observaciones ==> ",data_observaciones);

									$("#table-body-observaciones").empty();	
									data_observaciones["observacionPre"].forEach(function(valor,index){
										console.log(valor);
										$("#table-body-observaciones").append("<tr>"+"<td>"+valor.id+"</td>"+"<td>"+valor.descripcion+"<td>"+valor.fecha+"</td>"+"</td>"+"</tr>")
									});


									//$("#table-body-observaciones").append()
									$("#titulo_acuerdoPre").empty();
									$("#titulo_acuerdoPre").append(data_observaciones["areaIpd"].nombre);

								},
								error:function(error){
									console.log(error);
								}


							});

						}
					}

				});


			},
			//data-toggle="modal" data-target="#myModal"
			error:function(error){
				console.log(error);
			}


		});





		function historialObservaciones(){
			//$("#table-body-observaciones").append("");
			alert("hash");	
		} 



		$("#boton-enviar-acuerdosPre").on('click',function(){

			postAcuerdosPre();

		});

		function postAcuerdosPre(){

				datos={

					comite: $("#comite").val(),
					fecha: $("#fecha").val(),
					acuerdos: $("#acuerdos").val(),
					nroAcuerdo: $("#nroAcuerdo").val(),
					areaIpd: $("#areaIpd").val(),
					estado: $("#estado").val(),
					observaciones: $("#observaciones").val(),
					plazoEntrega: $("#plazoEntrega").val()

				}


				$.ajax({

					dataType: 'json',
					type: 'POST',
					url: "{{url('prueba_postAcuerdosPre')}}",
					data:datos,

					success:function(data){
						var datosAcuerdosPre=JSON.parse(data);
						

						datosAcuerdosPre.forEach(function(valor,index){

							console.log(valor["fecha"]);	
							$("#table_body").append('<tr value="'+valor.id+'" >'+'<td>'+valor.comite+'</td>'+'<td>'+valor.fecha+'<td>'+valor.acuerdos+'</td>'+'<td>'+valor.areaIpd.nombre+'</td>'+'<td>'+valor.estado+'</td>'+'</td>'+'<td>'+valor.observacionPre[0].descripcion+'</td>'+'</tr>');

						});

					},

					error:function(error){
						console.log(error);
					}


				});

			}




	});





</script>

{% endblock %}