{% extends '::base.html.twig'  %}

{% block body %}

<br>
<a href="/"><button style="margin-left:30px;"  class="btn btn-info btn-lg">Regresar Menu Principal</button></a>

<h2 class="text-center">SEGUIMIENTO DE LOS ACUERDOS DE LOS COMITES DE PRESIDENCIA</h2>

<div style="width:70%; height:400px; margin:0 auto;">


	<div class="form-group col-md-6 col-lg-6">
		<label>Comite</label>
		<input type="number" name="comite"  id="comite" class="form-control">
	</div>

	<div class="form-group col-md-6 col-lg-6">
		<label>Fecha</label>
		<input type="date" name="fecha"  id="fecha" class="form-control">
	</div>

	<div class="form-group col-md-6 col-sm-6 col-lg-6">
		<label>Acuerdos Adoptados</label>
		<input type="text" name="acuerdos"  id="acuerdos"  class="form-control">
	</div>

	<div class="form-group col-md-6 col-sm-6 col-lg-6" >
		<label>N° del acuerdo</label>
		<input type="number" name="nroAcuerdo" id="nroAcuerdo"  class="form-control">
	</div>


	<div class="form-group col-md-6 col-sm-6 col-lg-6">
		<label>Area Responsable</label>
		<select  name="areaIpd" id="areaIpd"  class="form-control" multiple >
		</select>
	</div>


	<div class="form-group col-md-6 col-sm-6 col-lg-6">
		<label>Estado</label>
		
		<select name="estado" id="estado"  class="form-control">
			<option value="En Proceso">En Proceso</option>
			<option value="Implementado">Implementado</option>
			<option value="Cancelado">Cancelado</option>
		</select>
	</div>


	<div class="form-group col-md-6 col-sm-6 col-lg-6">
		<label>Observaciones</label>
		<textarea type="text" name="observaciones" id="observaciones" class="form-control"></textarea>
	</div>


	<div class="form-group col-md-6 col-sm-6 col-lg-6">
		<label>Plazo de Entrega</label>
		<input type="date" name="plazoEntrega" id="plazoEntrega"  class="form-control">
	</div>

	<button class="btn btn-primary" id="boton-enviar-acuerdosPre">Enviar</button>


</div>

	<div class="form-group col-xs-12 col-md-12 col-sm-12 col-lg-12">
		<div class="containerAlertaRegistro">
			<p>Acuerdo Registrado</p>
		</div>
	</div>
<script>
		
	$.ajax({
		type:"GET",
		url:"{{ url('prueba_getArea') }}",
		dataType:'json',
		success:function(data){
			console.log(JSON.parse(data));
			JSON.parse(data).forEach(function(valor,index){

				$("#areaIpd").append("<option value='"+valor.id+"'>"+valor.nombre+"</option>");
			});
		},
		error:function(error){
			console.log(error);
		}
	});	


	function nuevoAcuerdosPre(){

		datos={
			comite: $("#comite").val(),
			fecha: $("#fecha").val(),
			acuerdos: $("#acuerdos").val(),
			nroAcuerdo: $("#nroAcuerdo").val(),
			areaIpd: $("#areaIpd").val(),
			estado: $("#estado").val(),
			observaciones: $("#observaciones").val(),
			plazoEntrega: $("#plazoEntrega").val(),
			baja: '1'
		}

		$.ajax({
			dataType: 'json',
			type: 'POST',
			url: "{{url('prueba_nuevoAcuerdosPre')}}",
			data:datos,
			success:function(data){
				if(data==1){
					$('.containerAlertaRegistro').show('slow',function(){
						setTimeout( () => $(this).hide('slow') ,5000);
					});
				}
				console.log(data);	
			},

			error:function(error){
				console.log(error);
			}
		});

	}

	$("#boton-enviar-acuerdosPre").on('click',function(){
		nuevoAcuerdosPre();
	});

</script>

{% endblock %}