{% extends '::base.html.twig'  %}

{% block body %}

<section class="contenedorRegistroASG" style="background-image: url({{ asset('img/basket-ipd.jpg') }}); background-size: cover; height: 100vh;" >

	<div class="form-group containerBtnRegresar">
		<a  style="margin-left:20px;" href="{{url('prueba_acuerdosSG')}}" class="icon-back"></a>

	</div>

	<div class="form-group">
		<p class="text-center tituloNuevoSG">REGISTRAR NUEVO SEGUIMIENTO DE ACUERDOS ADOPTADOS EN REUNIONES DE SECRETARIA GENERAL</p>
	</div>
	<div style="width:70%; height:450px; margin:0 auto; " class="div-form">

		<div class="form-group col-md-6  col-xs-12 col-lg-6">
			<label>Sesion</label>
			<input type="number" name="sesion"  id="sesion" class="form-control">
		</div>

		<div class="form-group col-xs-12  col-md-6 col-lg-6">
			<label>Fecha</label>
			<input type="date" name="fecha"  id="fecha" class="form-control">
		</div>

		<div class="form-group col-xs-12 col-md-6 col-sm-6 col-lg-6" >
			<label>Agenda</label>
			<input type="text" name="agenda" id="agenda"  class="form-control">
		</div>

		<div class="form-group col-xs-12 col-md-6 col-sm-6 col-lg-6">
			<label>Acuerdos Adoptados</label>
			<input type="text" name="acuerdos"  id="acuerdos"  class="form-control">
		</div>

		<div class="form-group col-xs-12 col-md-6 col-sm-6 col-lg-6">
			<label>Area Responsable</label>
			<select  name="areaIpd" id="areaIpd"  class="form-control" multiple >
			</select>
			<label>Seleccionar Todas las Areas</label>
			<input id="todo-area" type="checkbox" name="todo-area">
			<label>Seleccionar Otros</label>
			<input id="todo-otros" type="checkbox" name="todo-area">	
		</div>


		<div class="form-group  col-xs-12 col-md-6 col-sm-6 col-lg-6">
			<label>Estado</label>
			
			<select name="estado" id="estado"  class="form-control">
				<option value="En Proceso">En Proceso</option>
				<option value="Implementado">Implementado</option>
				<option value="Cancelado">Cancelado</option>
				<option value="No aplica">No Aplica</option>
				
			</select>
		</div>


		<div class="form-group col-xs-12 col-md-6 col-sm-6 col-lg-6">
			<label>Observaciones</label>
			<textarea type="text" name="observaciones" id="observaciones" class="form-control"></textarea>
		</div>


		<div class="form-group col-xs-12 col-md-6 col-sm-6 col-lg-6">
			<label>Plazo de Entrega</label>
			<input type="date" name="plazoEntrega" id="plazoEntrega"  class="form-control">
		</div>

		<div class="form-group col-xs-12 col-md-6 col-sm-6 col-lg-6">
		<button class="btn btn-primary" id="boton-registrar-acuerdosSG"><i class="icon-plus-square"></i> Registrar</button>
		</div>

		<div class="form-group col-xs-12 col-md-12 col-sm-12 col-lg-12">
		   <div class="containerAlertaRegistro">
			  <p>Acuerdo Registrado</p>
		   </div>
	    </div>
	</div>
</section>

<script type="text/javascript">
	



	$("#boton-registrar-acuerdosSG").on('click',function(){
			nuevoAcuerdoSG();
		});

	function listarAreas(dataArea){
			dataArea.forEach(function(valor,index){

				if(valor.nombre=='OTROS' && valor.tipo=='1' && valor.baja=='1'){
					$("#areaIpd").append("<option data-option='"+valor.nombre+"' value='"+valor.id+"'>"+valor.personaResponsable+"</option>");
				}else if(valor.nombre !='OTROS' && valor.tipo=='1' && valor.baja=='1' ) {
					$("#areaIpd").append("<option value='"+valor.id+"'>"+valor.nombre+"</option>");	
				}
				
			});		
	}

	$.ajax({
		type:"GET",
		url:"{{url('prueba_getArea')}}",
		dataType:'json',
		success:function(data){
			listarAreas(JSON.parse(data));
		},
		error:function(error){
			console.log(error);
		}
	});	
		
	function nuevoAcuerdoSG(){

		datos={
			sesion: $("#sesion").val(),
			fecha: $("#fecha").val(),
			agenda: $("#agenda").val(),
			acuerdos: $("#acuerdos").val(),
			areaIpd: $("#areaIpd").val(),
			estado: $("#estado").val(),
			observaciones: $("#observaciones").val(),
			plazoEntrega: $("#plazoEntrega").val(),
			baja: '1'
		}

		$.ajax({

			dataType: 'json',
			type: 'POST',
			url: "{{url('prueba_nuevoAcuerdosSG')}}",
			data:datos,
			beforeSend:function(){
				console.log('Enviando Mensaje');
			},
			success:function(data){

				if(data==1){
					$('.containerAlertaRegistro').show('slow',function(){
						setTimeout( () => $(this).hide('slow') ,5000);
					});
				}
				console.log(data);						
			},
			error:function(error){
				console.log(error);
			}
		});

	}

	var areaIpdSelect = document.getElementById("areaIpd");

	var contAreas=0;
	$( "#todo-area" ).on( "click",function(){

		if(contAreas==0){
			selecionarAreasAll(true);
			contAreas++;
		}else{
			selecionarAreasAll(false);
			contAreas=0;
		}		
	});

	function selecionarAreasAll(varBool){
		for (var i = 0; i <areaIpdSelect.options.length ; i++) {

			if($(areaIpdSelect.options[i]).attr('data-option') !='OTROS'){
				
				areaIpdSelect.options[i].selected=varBool;
			}	
		}		
	}

	var contOtros=0;
	$( "#todo-otros" ).on( "click",function(){

		if(contOtros==0){
			selecionarOtrosAll(true);
			contOtros++;
		}else{
			selecionarOtrosAll(false);
			contOtros=0;
		}		
	});

	function selecionarOtrosAll(varBool){
		for (var i = 0; i <areaIpdSelect.options.length ; i++) {

			if($(areaIpdSelect.options[i]).attr('data-option') =='OTROS'){
				
				areaIpdSelect.options[i].selected=varBool;
			}	
		}		
	}






</script>



{% endblock %}