{% extends '::base.html.twig'  %}

{% block body %}

<section class="contenedorRegistroASG" >

	<div class="form-group containerBtnRegresar">
		<a  style="margin-left:20px;" href="{{url('prueba_acuerdosSG')}}"><button class="btn btn-danger btn-lg" ><i class="icon-back"></i> Regresar</button></a>  		
	</div>

	<div class="form-group">
		<p class="text-center tituloNuevoSG">REGISTRAR NUEVO SEGUIMIENTO DE ACUERDOS ADOPTADOS EN REUNIONES DE SECRETARIA GENERAL</p>
	</div>
	<div style="width:70%; height:400px; margin:0 auto;">

		<div class="form-group col-md-6  col-xs-12 col-lg-6">
			<label>Sesion</label>
			<input type="number" name="sesion"  id="sesion" class="form-control">
		</div>

		<div class="form-group col-xs-12  col-md-6 col-lg-6">
			<label>Fecha</label>
			<input type="date" name="fecha"  id="fecha" class="form-control">
		</div>

		<div class="form-group col-xs-12 col-md-6 col-sm-6 col-lg-6" >
			<label>Agenda</label>
			<input type="text" name="agenda" id="agenda"  class="form-control">
		</div>

		<div class="form-group col-xs-12 col-md-6 col-sm-6 col-lg-6">
			<label>Acuerdos Adoptados</label>
			<input type="text" name="acuerdos"  id="acuerdos"  class="form-control">
		</div>

		<div class="form-group col-xs-12 col-md-6 col-sm-6 col-lg-6">
			<label>Area Responsable</label>
			<select  name="areaIpd" id="areaIpd"  class="form-control" multiple >
			</select>
		</div>


		<div class="form-group  col-xs-12 col-md-6 col-sm-6 col-lg-6">
			<label>Estado</label>
			
			<select name="estado" id="estado"  class="form-control">
				<option value="En Proceso">En Proceso</option>
				<option value="Implementado">Implementado</option>
				<option value="Cancelado">Cancelado</option>
				<option value="No aplica">No Aplica</option>
				
			</select>
		</div>


		<div class="form-group col-xs-12 col-md-6 col-sm-6 col-lg-6">
			<label>Observaciones</label>
			<textarea type="text" name="observaciones" id="observaciones" class="form-control"></textarea>
		</div>


		<div class="form-group col-xs-12 col-md-6 col-sm-6 col-lg-6">
			<label>Plazo de Entrega</label>
			<input type="date" name="plazoEntrega" id="plazoEntrega"  class="form-control">
		</div>

		<div class="form-group col-xs-12 col-md-12 col-sm-12 col-lg-12">
		<button class="btn btn-primary" id="boton-registrar-acuerdosSG"><i class="icon-plus-square"></i> Registrar</button>
		</div>
	</div>

	<div class="form-group col-xs-12 col-md-12 col-sm-12 col-lg-12">
		<div class="containerAlertaRegistro">
			<p>Acuerdo Registrado</p>
		</div>
	</div>
</section>

<script type="text/javascript">
	
	$("#boton-registrar-acuerdosSG").on('click',function(){
			nuevoAcuerdoSG();
		});

	function listarAreas(dataArea){
			dataArea.forEach(function(valor,index){
				$("#areaIpd").append("<option value='"+valor.id+"'>"+valor.nombre+"</option>");
			});		
	}

	$.ajax({
		type:"GET",
		url:"{{url('prueba_getArea')}}",
		dataType:'json',
		success:function(data){
			listarAreas(JSON.parse(data));
		},
		error:function(error){
			console.log(error);
		}
	});	
		

	function nuevoAcuerdoSG(){

		datos={
			sesion: $("#sesion").val(),
			fecha: $("#fecha").val(),
			agenda: $("#agenda").val(),
			acuerdos: $("#acuerdos").val(),
			areaIpd: $("#areaIpd").val(),
			estado: $("#estado").val(),
			observaciones: $("#observaciones").val(),
			plazoEntrega: $("#plazoEntrega").val(),
			baja: '1'
		}

		$.ajax({

			dataType: 'json',
			type: 'POST',
			url: "{{url('prueba_nuevoAcuerdosSG')}}",
			data:datos,
			beforeSend:function(){
				console.log('Enviando Mensaje');
			},
			success:function(data){

				if(data==1){
					$('.containerAlertaRegistro').show('slow',function(){
						setTimeout( () => $(this).hide('slow') ,5000);
					});
				}
				console.log(data);						
			},
			error:function(error){
				console.log(error);
			}
		});

	}

</script>



{% endblock %}